h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.container {
  border: 2px;
  border-style: solid;
  width: 700px;
  height: 750px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

#canvas {
}