body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h3 {
  text-align: center;
}

.container {
  border: 2px;
  border-style: solid;
  width: 700px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

#canvas {
}